@model IEnumerable<Proyecto_Avanzada.Entities.UsuarioEnt>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_General.cshtml";

}




<div class="row">

    <div class="col-md-1">
    </div>
    <div class="card col-md-10">
        <div class="card-body">

            <h4 class="card-title">Usuarios del Sistema</h4>


            <table id="TablaUsuarios" class="table table-hover">
                <thead>
                    <tr>
                        <th>Correo Electrónico</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>                          
                            <td>@item.CorreoElectronico</td>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre</td>

                            @if (item.Estado)
                            {
                                <td>Activo</td>
                            }
                            else
                            {
                                <td>Inactivo</td>
                            }

                            <td>
                                <a class="btn btn-primary" href="@Url.Action("ActualizarUsuario", "Usuarios", new { q = item.ConsecutivoUsuario })">Actualizar</a> |
                                <button type="button" class="btn btn-outline-primary openModal" data-toggle="modal" data-target="#exampleModal"
                                        data-id=@item.ConsecutivoUsuario data-backdrop="static" data-keyboard="false">
                                    Cambiar Estado
                                </button>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de cambiar el estado del usuario?

                <input type="hidden" id="idModalHidden">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="CambiarEstado();" class="btn btn-primary">Procesar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

    $(document).on("click", ".openModal", function () {
        var id = $(this).data('q');
        $("#idModalHidden").val(id);
    });

    $(document).ready(function () {
        $('#TablaUsuarios').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            }
        });
    });


    function CambiarEstado() {
        let id = $("#idModalHidden").val();

        $.ajax({
            url: "/Usuarios/CambiarEstado",
            type: "POST",
            data: {
                "q": id
            },
            dataType: 'json',
            success: function () {
                window.location.href = "/Usuarios/Index";
            }
        });
    }

</script>
